body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navbar a:hover {
    color: #8a9fff;
    border-bottom: 2px solid white;
    transition: 0.5s;
}
@media screen and (min-width: 768px) {
    .navbar a {
        font-size: 30px;
        
    }
}
.active{
    color: #67ff99!important;
    border-bottom: 2px solid white;


}
.main-content {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    min-width: 60%;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
}

.social-links {
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.social-links a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}
.main img{
    padding: auto;
    background-color:#333;
    color: aqua;
    border-radius: 40%;
}
@media screen and (max-width: 768px) {
.main img{
    max-width:80%;
}
}
.anime,
.movies,
.tv-series,
.games,
.books {
    display: grid;
    grid-gap: 40px;
    margin: 0 auto;
    max-width: 1200px;
}

.anime-item,
.movie-item,
.tv-series-item,
.game-item,
.book-item {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.anime-item:hover,
.movie-item:hover,
.tv-series-item:hover,
.game-item:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.5s;
    transform: scale(1.05);
    z-index: 1;
}



.anime-item img,
.movie-item img,
.tv-series-item img,
.game-item img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.book-item img{
    max-width: 100%;
    max-height: 300px;
    border-radius: 5px;
}

.anime-item h2,
.movie-item h2,
.tv-series-item h2,
.game-item h2,
.book-item h2 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #333;
}

.anime-item p,
.movie-item p,
.tv-series-item p,
.game-item p,
.book-item p {
    color: #666;
}
.btn{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    z-index: 1;
    

}
.btn:hover{
    background-color: #1538d3;
    transition: 0.5s;
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    .anime,
    .movies,
    .tv-series,
    .games,
    .books {
        grid-template-columns: repeat(2, 1fr);
    }
}
